{% extends 'shop/basic.html' %}

{% block title%} Contact Us-CartMax{% endblock %}
{% block body %}
<div class="container">
    <h3>Get In Touch With Us</h3>
    <p>(Please Enter Original Information)</p>
    <form action="/shop/contact/" method="POST">{% csrf_token %}

  <div class="form-group">
    <label for="Name">Full Name</label>
    <input type="text"  name="name" required="true" class="form-control" id="name" placeholder="Enter Your Full Name">
  </div>

        <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email"  name="email" required="true" class="form-control" id="email" placeholder="Enter Your Email Address">
  </div>

        <div class="form-group">
    <label for="phone">Contact Number</label>
    <input type="tel"  name="phone" required="true" class="form-control" id="phone" placeholder="Enter Your Phone Number">
  </div>

  <div class="form-group">
    <label for="desc">Drop Your Query!</label>
    <textarea  required="true" name="desc" class="form-control" id="desc" rows="3"></textarea>
  </div>

<button type="submit" class="btn btn-success">Submit</button>
</form>

</div>

{% endblock %}